In [6]:
name = "Helge"
name2 = "Helga"
print(name)
name2

Helge

'Helga'

In [12]:
list (range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [13]:
list = (range(2,10000001,2))
print (min(list))
print (max(list))
print (sum(list))

2
10000000
25000005000000

In [14]:
newList = [x*3 for x in range(101) if x>=1]
print(newList)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

In [15]:
newList = [x**3 for x in range(11)]
print(newList)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]