In [6]:
#Iterate a list of names to return a list of the names starting with H
new_list = ["Henrik","Mathias","Thias","Jens","Hans","Tobias","Helga","Kurt"]
print(new_list)
my_comp = [element for element in new_list if element[0]=='H']

print(my_comp)

['Henrik', 'Mathias', 'Thias', 'Jens', 'Hans', 'Tobias', 'Helga', 'Kurt']
['Henrik', 'Hans', 'Helga']

In [3]:
#In one line create a list of the numbers 1-100 to the power of 3
new_list = [x**3 for x in range(101)]
print(new_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [2]:
new_list = ["Henrik","Mathias","Thias","Jens","Hans","Tobias","Helga","Kurt"]

def func_(lis):
    
    lst = [] # Don't use 'list' as a name; it overshadows the built-in
    for h in lis:
        lst.append((len(h), h))
        
    return lst

func_(new_list)

[(6, 'Henrik'),
 (7, 'Mathias'),
 (5, 'Thias'),
 (4, 'Jens'),
 (4, 'Hans'),
 (6, 'Tobias'),
 (5, 'Helga'),
 (4, 'Kurt')]

In [7]:
str = "jeg har 1 øl og drukket den på 23 sekunder over 2 dage"
   
numeric = [x for x in str if x.isdigit()]
    
print(numeric)

['1', '2', '3', '2']

In [8]:
#Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice 
#(hint use 2 for loops in a single list comprehension)
dice = set([(x,i) for x in range(1,7) for i in range(1,7)])

print(sorted(dice))

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [9]:
#Iterate a list of names and create a dictionary where key is the name and value is the length of the name
new_list = ["Henrik","Mathias","Thias","Jens","Hans","Tobias","Helga","Kurt"]

new_dct = {name: len(name) for name in new_list}

print(new_dct)

{'Henrik': 6, 'Mathias': 7, 'Thias': 5, 'Jens': 4, 'Hans': 4, 'Tobias': 6, 'Helga': 5, 'Kurt': 4}